NEXT_PUBLIC_SUPABASE_URL=https://vorjxkuzpihsmstemvev.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvcmp4a3V6cGloc21zdGFtdmV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzOTMzMzEsImV4cCI6MjA3Mzk2OTMzMX0.zLvlRNjUu_wW8cVAgeG8CGjcBoOYf-xS86AotTnjZjI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvcmp4a3V6cGloc21zdGFtdmV2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODM5MzMzMSwiZXhwIjoyMDczOTY5MzMxfQ.ihcrnNc--N92kUOE2_8H_yumT-Gb_2j03ASXxiLyBHA